img {
    height: 30px;
}
.border-r {
    border-right: grey 2px solid;
}
.border-l {
    border-left: grey 2px solid;
}
.right {
    justify-content: end;
    display: flex;
}
* {
    font-weight: bold
}
.navbar {
    border-radius: 100px 100px 100px 100px;
    margin-top: 10px;
}
.btn-s {
    border-radius: 100px 100px 100px 100px;
    background-color: blueviolet;
    border-color: black;
}
.btn-s:hover {
    background-color: blueviolet;
}
li,.thing {
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}
p {
    margin-bottom: 10px;
    margin-top: 10px;
}
.dropdown-menu {
    background: rgb(0,0,0);
    background: rgb(77, 0, 77);
    width: 500px;
}
.dropdown-divider {
    border-color: purple;
}
.margin-b-gone {
    margin:  0px;
}
.dropdown-item {
    color: white;
    display: flex;
    white-space: wrap;
    width: auto;
}
p {
    font-size: 15px;
    opacity: 75%;
}
img {
    margin-right: 10px;
}
.col-6, h6 {
    margin-top: 15px;
}
.purp {
    background-color: purple;
}
.col-1 {
    justify-content: center;
    align-items: center;
    display: flex;
}
.width-no {
    width: auto;
}